<h1><%= @cocktail.name %></h1>

<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete  %>

<p><%= @cocktail.name %></p>
<ul>
<% @cocktail.doses.each do |dose| %>
<li><%= dose.description %> <%= dose.ingredient.name %> <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete  %></li>
<% end %>
</ul>

<% if @cocktail.doses.empty? %>
<p><%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail)  %></p>
<% else %>
<p><%= link_to 'Add another dose', new_cocktail_dose_path(@cocktail)  %></p>
<% end %>

<%= link_to "Back", root_path  %>
