<h1>Adding a Dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, :label => "How much goes in there?"  %>
  <%= f.association :ingredient%>
  <%= f.button :submit %>
<% end %>
<%= link_to "Back", cocktail_path(@cocktail)  %>
