<h1>Adding a Dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, :label => "How much goes in there?"  %>
  <%= f.association :ingredient%>
  <div> <%= f.button :submit, "+ Add", class: "button" %> </div>
<% end %>
<div class="button">
  <%= link_to "Back", cocktail_path(@cocktail)  %>
</div>
